@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="list-group">
    <a class="list-group-item list-group-item-action @ManageNavPages.IndexNavClass(ViewContext)" id="index" asp-page="./Index">Account</a>
    <a class="list-group-item list-group-item-action @ManageNavPages.ProfileNavClass(ViewContext)" id="profile" asp-page="./Profile">Profile</a>
    <a class="list-group-item list-group-item-action @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a>
    <a class="list-group-item list-group-item-action @ManageNavPages.BillingNavClass(ViewContext)" id="billing" asp-page="./Billing">Billing</a>
    <a class="list-group-item list-group-item-action @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
</div>
