@page
@model GameDetailsModel
@{
    ViewData["Title"] = "GameDetails";
}

<table class="table" border="0">
    <tbody>
        <tr>
            <td>
                <h3>@Model.Game.Title</h3>
                <p>Developer: @Model.Game.Developer</p>
                <p>Category: @Model.Game.Category.Name</p>
                <p>Rating: @Model.Game.TotalRating</p>
                <p>Price: @Model.Game.Price</p>
            </td>
        </tr>
    </tbody>
</table>