@page
@model GameStore.Web.Pages.Admin.Reports.GameListModel
@{
    ViewData["Title"] = "Games Report";
    ViewData["ActivePage"] = DashboardNavPages.ManageGames;
}

    <div class="m-5">
        <div class="text-center py-5" display="inline:block">
            <h1 class="display-4">@ViewData["Title"]</h1>
        </div>
        <div style="display:inline">
            <h4 style="float:left;">Turbo Games</h4>
            <h4 style="float:right;">@DateTime.Now</h4>
        </div>
        <table class="table table-striped custab">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Game[0].Title)</th>
                    @*<th>@Html.DisplayNameFor(model => model.Game[0])</th>*@
                    <th>@Html.DisplayNameFor(model => model.Game[0].Category)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Game)
                {
                    <tr>
                        <td>@item.Title</td>
                        @*<td>@item.Developer</td>*@
                        <td>@item.Category.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

