@page
@model GameStore.Pages.Friends.IndexModel
@{
    ViewData["Title"] = "Friends and family";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<table class="table">
    <thead>
        <tr>
            <th>
                Family
            </th>
            <th>
                Friend
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Friendships.Where(x => x.RequestStatus != FriendStatusCode.Rejected))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsFamily)
            </td>
            <td>
                @if (item.Sender.UserName == HttpContext.User.Identity.Name)
                {
                    @Html.DisplayFor(modelItem => item.Receiver.UserName)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Sender.UserName)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestStatus)
            </td>
            <td>
                <form method="post">
                    @if (item.RequestStatus == FriendStatusCode.Accepted)
                    {
                        @if (item.Sender.UserName == HttpContext.User.Identity.Name)
                        {
                            <input type="submit" value="Delete" class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@item.ReceiverId" />
                        }
                        else
                        {
                            <input type="submit" value="Delete" class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@item.SenderId" />
                        }

                    }
                    else if (item.RequestStatus == FriendStatusCode.None)
                    {
                        @if (item.Sender.UserName == HttpContext.User.Identity.Name)
                        {
                            <input type="submit" value="Cancel" class="btn btn-warning" asp-page-handler="Reject" asp-route-id="@item.ReceiverId" />
                        }
                        else if (item.Sender.UserName != HttpContext.User.Identity.Name)
                        {
                            <input type="submit" value="Accept" class="btn btn-success" asp-page-handler="Accept" asp-route-id="@item.SenderId" />
                            <input type="submit" value="Reject" class="btn btn-warning" asp-page-handler="Reject" asp-route-id="@item.SenderId" />
                        }
                        else
                        {
                            <input type="submit" value="Accept" class="btn btn-success" asp-page-handler="Accept" asp-route-id="@item.SenderId" />
                            <input type="submit" value="Reject" class="btn btn-warning" asp-page-handler="Reject" asp-route-id="@item.SenderId" />
                        }
                    }
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
