@page "/Game/{id}"
@model DetailsModel
@{
    ViewData["Title"] = "Game Details";
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="text-center py-5">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="row justify-content-center">
    <div class="col-lg-9">
        <div class="card mt-4">
            <div class="card-body">
                <h3 class="card-title">@Model.Game.Title</h3>
                <h5>Price: <span class="text-success">$@Model.Game.Price</span></h5>
                <h5>Platform: <span class="text-secondary">@Model.Game.Platform.Name</span></h5>
                <h5>Category: <span class="text-secondary">@Model.Game.Category.Name</span></h5>
                <h5>Developer(s): <span class="text-secondary">@Model.Game.Developer</span></h5>
                <p class="card-text">@Model.Game.Description</p>
                <form method="post">
                    <input type="submit" asp-route-id="@Model.Id" value="Add to cart" />
                </form>
            </div>
        </div>
    </div>
</div>
