@page "/Game/{id}"
@model GameModel
@{
    ViewData["Title"] = "Game Details";
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="text-center py-5">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div class="row justify-content-center">
    <div class="col-lg-9">
        <div class="card mt-4">
            <div class="card-body">
                <h3 class="card-title">@Model.Game.Title </h3>
                <h5>Price: <span class="text-success">$@Model.Game.Price</span></h5>
                <h5>Platform: <span class="text-secondary">@Model.Game.Platform.Name</span></h5>
                <h5>Category: <span class="text-secondary">@Model.Game.Category.Name</span></h5>
                <h5>Developer(s): <span class="text-secondary">@Model.Game.Developer</span></h5>
                <p class="card-text">@Model.Game.Description</p>
                <form method="post" class="form-inline">
                    <span class="text-warning">
                        @{
                            var ratingCount = Model.Game.Reviews.Count;
                            double ratingAverage = (Model.Game.Rating == 0) || (ratingCount == 0) ? 0 : Model.Game.Rating / ratingCount;
                        }
                        <span class="mr-1">
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (i <= Math.Floor(ratingAverage))
                                {
                                    <i class="fas fa-star"></i>
                                }
                                else if (i > Math.Ceiling(ratingAverage))
                                {
                                    <i class="far fa-star"></i>
                                }
                                else
                                {
                                    <i class="fas fa-star-half-alt"></i>
                                }
                            }
                        </span>
                    </span>
                    @ratingAverage stars
                    <button type="submit" asp-route-id="@Model.Id" class="btn btn-success ml-auto"><i class="fas fa-cart-plus"></i></button>
                </form>
            </div>
        </div>
        @if (Model.Game.Reviews.Count != 0 && Model.Game.Reviews.Any(x => x.Game == Model.Game && x.IsAccepted))
        {
            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Game Reviews
                </div>
                <div class="card-body">
                    @foreach (var review in Model.Game.Reviews)
                    {
                        <p>@review.Content</p>
                        <small class="text-muted">Posted by N/A at @review.CreatedDate.ToShortDateString()</small>
                        <span class="ml-auto">
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (i <= Math.Floor((double)review.Rating))
                                {
                                    <i class="fas fa-star"></i>
                                }
                                else if (i > Math.Ceiling((double)review.Rating))
                                {
                                    <i class="far fa-star"></i>
                                }
                            }
                        </span>
                        <hr>
                    }

                    @if (Model.CanReviewGame)
                    {
                        <a asp-page="./Review" asp-route-id="@Model.Game.Id" class="btn btn-success">Leave a Review</a>
                    }
                </div>
            </div>
        }
    </div>
</div>