@page "/Library"
@model LibraryModel

@{
    ViewData["Title"] = "Game Library";
}

<h1>@Model.User.Identity.Name's @ViewData["Title"]</h1>

<form class="form-group mb-3">
    <h6>Search by title:</h6>
    <input type="text" asp-for="Search" />
    <input type="submit" value="Search" />
</form>
<partial name="_StatusMessage" for="StatusMessage" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].TotalRating)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Games)
        {
            <tr onclick="location.href = '@Url.Page("/Games/Details", "OnGetAsync", new { id = item.Id })'" class="row-hover">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalRating)
                </td>
                <td>
                    <a asp-page-handler="Download" asp-route-id="@item.Id" class="btn btn-primary">Download</a>
                </td>
                <td>
                    <a asp-page="./Review" asp-route-id="@item.Id" class="btn btn-primary">Review</a>
                </td>
            </tr>
        }
    </tbody>
</table>
