@page
@model GameStore.Web.Pages.Games.Library.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayNameFor(model => model.UserGame.Game.Title)</h1>

<div>
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserGame.User.Id)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserGame.Game.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserGame.PurchaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserGame.PurchaseDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to Library</a>
</div>
