@page
@model IndexModel
@{
    ViewData["Title"] = "Games";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Developer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].TotalRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Category)
            </th>
            <th>
                <a asp-page="./Index"><Button>Cart</Button></a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Game)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Developer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a asp-page="./GamePage" asp-route-id="@item.Id"><Button>Game Page</Button></a>
                </td>
            </tr>
        }
    </tbody>
</table>