@page
@model IndexModel
@{
    ViewData["Title"] = "Game Store";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Developer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Platform)
            </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Game)
        {
            <tr onclick="location.href = '@Url.Page("/Games/GameDetails", "OnGetAsync", new { id = item.Id })'" class="row-hover">
                <td>
                    $@Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Developer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Platform.Name)
                </td>
                <td>
                    <form method="post">
                        <input type="submit" asp-page-handler="AddItemToCart" asp-route-id="@item.Id" value="Add to cart" class="btn btn-success" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>