@page

@model GameStore.Web.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Events";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" for="StatusMessage" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Classification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Classification)
                </td>
                <td>    
                    <form method="post">
                        <input type="hidden" name="eventId" value="@item.Id" />
                        @if (Model.IsRegistered)
                        {
                            <input type="submit" value="Unregister" class="btn btn-warning" asp-page-handler="Unregister" />
                        }
                        else
                        {
                            <input type="submit" value="Register" class="btn btn-primary" asp-page-handler="Register"  />
                        }
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
